<?xml version="1.0"?>

<model>
  <name>grass patch</name>
  <version>1.0</version>
  <sdf version="1.3">model.sdf</sdf>

  <author>
    <name>Luis Pinto</name>
    <email>luis.pinto@mov.ai</email>
  </author>

  <author>
    <name>Javier Melero</name>
    <email></email>
  </author>

  <description>
    Ported to ROS2 Ignition.
  </description>

</model>
