<?xml version="1.0"?>

<model>
  <name>MBZIRC Hexrotor Base</name>
  <version>1.0</version>
  <sdf version="1.6">hexrotor_base.sdf</sdf>

  <author>
    <name>Carlos Aguero</name>
    <email>caguero@openrobotics.org</email>
  </author>

  <author>
    <name>Cole Biesemeyer</name>
    <email>cole@openrobotics.org</email>
  </author>

  <description>
    Base Configuration for hexrotor UAV for MBZIRC competition.
  </description>
</model>
