<?xml version="1.0"?>

<model>
  <name>3D Lidar</name>
  <version>1.0</version>
  <sdf version="1.6">lidar_3d.sdf</sdf>

  <author>
    <name>Michael Carroll</name>
    <email>michael@openrobotics.org</email>
  </author>

  <description>
    Three-dimensional scan with 100 meter range.
  </description>
</model>
