<?xml version="1.0"?>

<sdf version='1.6'>
  <model name='{{ namespace }}'>
    <include merge="true">
        <uri>model://crazyflie</uri>
    </include>

      <plugin
          filename="ignition-gazebo-pose-publisher-system"
          name="ignition::gazebo::systems::PosePublisher">
          <publish_link_pose>true</publish_link_pose>
          <publish_sensor_pose>true</publish_sensor_pose>
          <publish_collision_pose>false</publish_collision_pose>
          <publish_visual_pose>false</publish_visual_pose>
          <publish_nested_model_pose>true</publish_nested_model_pose>
          <publish_model_pose>false</publish_model_pose>
          <use_pose_vector_msg>true</use_pose_vector_msg>
          <static_publisher>true</static_publisher>
          <static_update_frequency>100</static_update_frequency>
      </plugin>
      <plugin
        filename="ignition-gazebo-multicopter-motor-model-system"
        name="gz::sim::systems::MulticopterMotorModel">
        <robotNamespace>model/{{ namespace }}</robotNamespace>
        <jointName>m1_joint</jointName>
        <linkName>m1</linkName>
        <turningDirection>ccw</turningDirection>
        <timeConstantUp>0.0125</timeConstantUp>
        <timeConstantDown>0.025</timeConstantDown>
        <maxRotVelocity>800.0</maxRotVelocity>
        <motorConstant>8.54858e-06</motorConstant>
        <momentConstant>0.016</momentConstant>
        <commandSubTopic>command/motor_speed</commandSubTopic>
        <motorNumber>0</motorNumber>
        <rotorDragCoefficient>8.06428e-05</rotorDragCoefficient>
        <rollingMomentCoefficient>1e-06</rollingMomentCoefficient>
        <motorSpeedPubTopic>motor_speed/0</motorSpeedPubTopic>
        <rotorVelocitySlowdownSim>10</rotorVelocitySlowdownSim>
        <motorType>velocity</motorType>
      </plugin>
      <plugin
        filename="ignition-gazebo-multicopter-motor-model-system"
        name="gz::sim::systems::MulticopterMotorModel">
        <robotNamespace>model/{{ namespace }}</robotNamespace>
        <jointName>m2_joint</jointName>
        <linkName>m2</linkName>
        <turningDirection>ccw</turningDirection>
        <timeConstantUp>0.0125</timeConstantUp>
        <timeConstantDown>0.025</timeConstantDown>
        <maxRotVelocity>800.0</maxRotVelocity>
        <motorConstant>8.54858e-06</motorConstant>
        <momentConstant>0.016</momentConstant>
        <commandSubTopic>command/motor_speed</commandSubTopic>
        <motorNumber>1</motorNumber>
        <rotorDragCoefficient>8.06428e-05</rotorDragCoefficient>
        <rollingMomentCoefficient>1e-06</rollingMomentCoefficient>
        <motorSpeedPubTopic>motor_speed/1</motorSpeedPubTopic>
        <rotorVelocitySlowdownSim>10</rotorVelocitySlowdownSim>
        <motorType>velocity</motorType>
      </plugin>
      <plugin
        filename="ignition-gazebo-multicopter-motor-model-system"
        name="gz::sim::systems::MulticopterMotorModel">
        <robotNamespace>model/{{ namespace }}</robotNamespace>
        <jointName>m3_joint</jointName>
        <linkName>m3</linkName>
        <turningDirection>cw</turningDirection>
        <timeConstantUp>0.0125</timeConstantUp>
        <timeConstantDown>0.025</timeConstantDown>
        <maxRotVelocity>800.0</maxRotVelocity>
        <motorConstant>8.54858e-06</motorConstant>
        <momentConstant>0.016</momentConstant>
        <commandSubTopic>command/motor_speed</commandSubTopic>
        <motorNumber>2</motorNumber>
        <rotorDragCoefficient>8.06428e-05</rotorDragCoefficient>
        <rollingMomentCoefficient>1e-06</rollingMomentCoefficient>
        <motorSpeedPubTopic>motor_speed/2</motorSpeedPubTopic>
        <rotorVelocitySlowdownSim>10</rotorVelocitySlowdownSim>
        <motorType>velocity</motorType>
      </plugin>
      <plugin
        filename="ignition-gazebo-multicopter-motor-model-system"
        name="gz::sim::systems::MulticopterMotorModel">
        <robotNamespace>model/{{ namespace }}</robotNamespace>
        <jointName>m4_joint</jointName>
        <linkName>m4</linkName>
        <turningDirection>cw</turningDirection>
        <timeConstantUp>0.0125</timeConstantUp>
        <timeConstantDown>0.025</timeConstantDown>
        <maxRotVelocity>800.0</maxRotVelocity>
        <motorConstant>8.54858e-06</motorConstant>
        <momentConstant>0.016</momentConstant>
        <commandSubTopic>command/motor_speed</commandSubTopic>
        <motorNumber>3</motorNumber>
        <rotorDragCoefficient>8.06428e-05</rotorDragCoefficient>
        <rollingMomentCoefficient>1e-06</rollingMomentCoefficient>
        <motorSpeedPubTopic>motor_speed/3</motorSpeedPubTopic>
        <rotorVelocitySlowdownSim>10</rotorVelocitySlowdownSim>
        <motorType>velocity</motorType>
      </plugin>

        
      {% if velocity_controller -%} <!--Multicopter velocity controller-->
      <plugin
        filename="ignition-gazebo-multicopter-control-system"
        name="gz::sim::systems::MulticopterVelocityControl">
        <robotNamespace>model/{{ namespace }}</robotNamespace>
        <commandSubTopic>cmd_vel</commandSubTopic>
        <enableSubTopic>velocity_controller/enable</enableSubTopic>
        <comLinkName>base_link</comLinkName>
        <velocityGain>3.3 3.3 3.5</velocityGain>
        <attitudeGain>5.0 5.0 0.9</attitudeGain>
        <angularRateGain>1.5 1.5 0.09</angularRateGain>
        <maximumLinearAcceleration>2 2 2</maximumLinearAcceleration>
        <maximumLinearVelocity>5 5 5</maximumLinearVelocity>
        <maximumAngularVelocity>3 3 3</maximumAngularVelocity>
        <linearVelocityNoiseMean>0.0 0.0 0.0</linearVelocityNoiseMean>
        <linearVelocityNoiseStdDev>0.0 0.0 0.0</linearVelocityNoiseStdDev>
        <angularVelocityNoiseMean>0 0 0</angularVelocityNoiseMean>
        <angularVelocityNoiseStdDev>0.0 0.0 0.0</angularVelocityNoiseStdDev>

        <rotorConfiguration>
          <rotor>
            <jointName>m1_joint</jointName>
            <forceConstant>8.54858e-06</forceConstant>
            <momentConstant>0.016</momentConstant>
            <direction>1</direction>
          </rotor>
          <rotor>
            <jointName>m2_joint</jointName>
            <forceConstant>8.54858e-06</forceConstant>
            <momentConstant>0.016</momentConstant>
            <direction>1</direction>
          </rotor>
          <rotor>
            <jointName>m3_joint</jointName>
            <forceConstant>8.54858e-06</forceConstant>
            <momentConstant>0.016</momentConstant>
            <direction>-1</direction>
          </rotor>
          <rotor>
            <jointName>m4_joint</jointName>
            <forceConstant>8.54858e-06</forceConstant>
            <momentConstant>0.016</momentConstant>
            <direction>-1</direction>
          </rotor>
        </rotorConfiguration>
      </plugin>
      {% endif -%}

      {% if odom_plugin -%} <!-- Odometry plugin-->
      <plugin
          filename="ignition-gazebo-odometry-publisher-system"
          name="ignition::gazebo::systems::OdometryPublisher">
          <dimensions>3</dimensions>
          <odom_publish_frequency>100</odom_publish_frequency>
      </plugin>
      {% endif -%}
      

      {% if battery_plugin %} <!-- Battery plugin-->
      <!-- TODO: Characterize the battery -->
      <plugin filename="libignition-gazebo-linearbatteryplugin-system.so"
          name="ignition::gazebo::systems::LinearBatteryPlugin">
          <battery_name>linear_battery</battery_name>
          <voltage>12.694</voltage>
          <open_circuit_voltage_constant_coef>12.694</open_circuit_voltage_constant_coef>
          <open_circuit_voltage_linear_coef>0</open_circuit_voltage_linear_coef>
          <initial_charge>{{ capacity }}</initial_charge>
          <capacity>{{ capacity }}</capacity>
          <resistance>0.061523</resistance>
          <smooth_current_tau>1.9499</smooth_current_tau>
          <power_load>6.6</power_load>
          <start_on_motion>true</start_on_motion>
          <fix_issue_225>true</fix_issue_225>
      </plugin>
      {% endif -%}

      {% for sensor in sensors -%}
        <!-- Payload {{ sensor.model }} -->
          {% if sensor.model == 'gimbal_position' -%}

              {# Gimbal position - include or basic render  #}
              {% include 'models/gimbal/position_gimbal.sdf.jinja' with context %}

          {% elif sensor.model == 'gimbal_speed' -%}

              {# Gimbal speed - include or basic render  #}
              {% include 'models/gimbal/speed_gimbal.sdf.jinja' with context %}

          {% elif sensor.model == 'hd_camera' and not sensor.gimbaled -%}

              {% include 'models/hd_camera/hd_camera.sdf.jinja' with context %}

          {% elif sensor.model == 'vga_camera' and not sensor.gimbaled -%}

              {% include 'models/vga_camera/vga_camera.sdf.jinja' with context %}

          {% elif sensor.model == 'semantic_camera' and not sensor.gimbaled -%}

              {% include 'models/semantic_camera/semantic_camera.sdf.jinja' with context %}

          {% elif sensor.model == 'rgbd_camera' and not sensor.gimbaled -%}

              {% include 'models/rgbd_camera/rgbd_camera.sdf.jinja' with context %}

          {% elif sensor.gimbaled -%}

          {% else -%}
              <include>
                  <name>{{ sensor.name }}</name>
                  <uri>model://{{ sensor.model }}</uri>
                  <pose
                      relative_to="base_link">
                      {{ sensor.pose }}
                  </pose>
              </include>
              <joint
                  name="{{ sensor.name }}_joint" type="fixed">
                  <parent>base_link</parent>
                  <child>{{ sensor.name }}</child>
              </joint>
          {% endif -%}
      {% endfor -%}

      <plugin
          filename="ignition-gazebo-air-pressure-system"
          name="ignition::gazebo::systems::AirPressure">
      </plugin>
      <plugin
          filename="ignition-gazebo-imu-system"
          name="ignition::gazebo::systems::Imu">
      </plugin>
      <plugin
          filename="ignition-gazebo-magnetometer-system"
          name="ignition::gazebo::systems::Magnetometer">
      </plugin>

  </model>
</sdf>