<?xml version="1.0"?>
<model>
  <name>Semantic Camera</name>
  <version>1.0</version>
  <sdf version="1.9">semantic_camera.sdf</sdf>

  <author>
    <name>Miguel Fernandez</name>
    <email>miguel.fernandez.cortizas@upm.es</email>
  </author>

  <description>
    RGB Camera with 1280x960 resolution with semantic segmentation data.
  </description>
</model>
