<?xml version="1.0" ?>
<model>
    <name>Aruco_gate_3</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Pablo Santofimia Ruiz</name>
        <email>pablo.santofimia.ruiz@alumnos.upm.es</email>
    </author>
    <description>
			First 3 gates of ADR-Iros
		</description>
</model>
