<?xml version="1.0"?>

<model>
  <name>Point Lidar</name>
  <version>1.0</version>
  <sdf version="1.6">point_lidar.sdf</sdf>

  <author>
    <name>Ian Chen</name>
    <email>ichenl@openrobotics.org</email>
  </author>

  <description>
    Single point lidar with 40 meter range
  </description>
</model>
