<?xml version="1.0"?>

<model>
  <name>magnetometer</name>
  <version>1.0</version>
  <sdf version="1.6">magnetometer.sdf</sdf>

  <author>
    <name>Pedro Arias-perez</name>
    <email>pedro.ariasp@upm.es</email>
  </author>

  <author>
    <name>Rafael Perez-Segui</name>
    <email>r.psegui@upm.es</email>
  </author>

  <description>
    A model of a magnetometer sensor.
  </description>
</model>