<?xml version="1.0"?>

<model>
  <name>Aerostack2 Gimbal</name>
  <version>1.0</version>
  <sdf version="1.6">position_gimbal.sdf</sdf>

  <author>
    <name>Pedro Arias-Perez</name>
    <email>pedro.ariasp@upm.es</email>
  </author>

  <author>
    <name>Javier Melero</name>
    <email>javier.mdeza@alumnos.upm.es</email>
  </author>

  <description>
    Sensor attached gimbal for Aerostack2.
  </description>
</model>