<?xml version="1.0"?>

<model>
  <name>air_pressure</name>
  <version>1.0</version>
  <sdf version="1.6">air_pressure.sdf</sdf>

  <author>
    <name>Pedro Arias-perez</name>
    <email>pedro.ariasp@upm.es</email>
  </author>

  <author>
    <name>Rafael Perez-Segui</name>
    <email>r.psegui@upm.es</email>
  </author>

  <description>
    A model of a pressure sensor that measures the air pressure in the environment.
  </description>
</model>
