<?xml version="1.0"?>

<model>
  <name>Grayscaled Camera</name>
  <version>1.0</version>
  <sdf version="1.6">grayscaled_camera.sdf</sdf>

  <author>
    <name>Javi Melero</name>
    <email>cvar-upm3@gmail.com</email>
  </author>

  <description>
    Grayscaled camera with 1280x720 (HD) resolution, 60Hz and 60deg hfov
  </description>
</model>
